# Binary Data Formats

In [2]:
import pandas as pd
import numpy as np

In [3]:
frame = pd.read_csv('examples/ex1.csv')
frame

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [4]:
frame.to_pickle('examples/frame_pickle')

In [5]:
pd.read_pickle('examples/frame_pickle')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [6]:
frame = pd.DataFrame({'a': np.random.randn(100)})

In [7]:
store = pd.HDFStore('mydata.h5')

In [8]:
store['obj1'] = frame

In [9]:
store['obj1_col'] = frame['a']

In [10]:
store

<class 'pandas.io.pytables.HDFStore'>
File path: mydata.h5

In [11]:
# Objects contained in the HDF5 file can then be retrieved with the same dict-like API
store['obj1']

           a
0  -1.101295
1  -0.049540
2  -0.200646
3   0.644605
4  -0.028548
..       ...
95  1.367040
96  0.370054
97  1.574785
98  0.206042
99 -1.091795

[100 rows x 1 columns]

In [12]:
store.put('obj2', frame, format='table')

In [13]:
store.select('obj2', where=['index >= 10 and index<= 15'])

           a
10 -0.054638
11 -0.459285
12 -1.165904
13  1.578316
14  0.686250
15 -1.066704

In [14]:
store.close()

## Reading Microsoft Excel Files

In [23]:
# To use ExcelFile, create an instance by passing a path to an xls or xlsx file
xlsx = pd.ExcelFile('examples/ex1.xlsx')

In [24]:
pd.read_excel(xlsx, 'Sheet1')

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

In [27]:
# if you are reading multiple sheets in a file, then it is faster to create the
# ExcelFile, but you can also simply pass the filenames to pandas.read_excel
frame = pd.read_excel('examples/ex1.xlsx', 'Sheet1')

In [28]:
frame

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

In [29]:
# To write pandas data to Excel format, you must first create an ExcelWriter,
# then write data to it using pandas objects' to_excel method
writer = pd.ExcelWriter('examples/ex2.xlsx')

In [30]:
frame.to_excel(writer, 'Sheet1')

In [31]:
writer.save()