# Interacting with Web APIs

In [15]:
import pandas as pd
import requests

In [2]:
url = 'https://api.github.com/repos/pandas-dev/pandas/issues'

In [3]:
resp = requests.get(url)

In [4]:
resp

In [5]:
# The response object's json method will return a dictionary containing JSON parsed into native
# Python objects
data = resp.json()

In [9]:
data[0]['title']

'pandas read int contain null will be float type'

In [12]:
# We can pass Data directly to DataFrame and extract fields of interest
issues = pd.DataFrame(data, columns=['number', 'title', 'labels', 'state'])
issues

,number,title,labels,state
0,48704,pandas read int contain null will be float type,[],open
1,48703,Added theme_switcher in navbar_end,[],open
2,48702,REGR: dropna affects observed in groupby,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
3,48701,REGR: Setting values with 'loc' and boolean ma...,"[{'id': 2822098, 'node_id': 'MDU6TGFiZWwyODIyM...",open
4,48700,StataReader processes whole file before readin...,"[{'id': 104865385, 'node_id': 'MDU6TGFiZWwxMDQ...",open
5,48699,TST: Catch more pyarrow PerformanceWarnings,"[{'id': 127685, 'node_id': 'MDU6TGFiZWwxMjc2OD...",open
6,48698,CLN: Clean groupby ops from unreached code paths,"[{'id': 233160, 'node_id': 'MDU6TGFiZWwyMzMxNj...",open
7,48697,None to na enlargement,"[{'id': 2822098, 'node_id': 'MDU6TGFiZWwyODIyM...",open
8,48696,REGR: to_hdf raising AssertionError with boole...,"[{'id': 32815646, 'node_id': 'MDU6TGFiZWwzMjgx...",open
9,48695,TST: Address MPL 3.6 deprecation warnings,"[{'id': 127685, 'node_id': 'MDU6TGFiZWwxMjc2OD...",open
10,48694,BUG: UndefinedVariableError in DataFrame.query...,"[{'id': 32815646, 'node_id': 'MDU6TGFiZWwzMjgx...",open
11,48693,ENH: Make deprecate_nonkeyword_arguments alter...,[],open
12,48692,ENH: Make `deprecate_nonkeyword_arguments` alt...,"[{'id': 76812, 'node_id': 'MDU6TGFiZWw3NjgxMg=...",open
13,48691,DEPR: Timestamp(nanoseconds>999),"[{'id': 87485152, 'node_id': 'MDU6TGFiZWw4NzQ4...",open
14,48689,"DEPR: enforce Timedelta freq, delta, is_popula...","[{'id': 49597148, 'node_id': 'MDU6TGFiZWw0OTU5...",open
15,48688,BUG: explicit tz=None ignored in Timestamp con...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
16,48687,DOC: Clarify exceptions that are internal only,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open
17,48686,"BUG: to_datetime(tz_mix, utc=True) converts to...","[{'id': 211840, 'node_id': 'MDU6TGFiZWwyMTE4ND...",open
18,48685,DEPR: enforce deprecations on DateOffset methods,"[{'id': 53181044, 'node_id': 'MDU6TGFiZWw1MzE4...",open
19,48684,ENH: Ability to specify only `rows` or `column...,"[{'id': 76812, 'node_id': 'MDU6TGFiZWw3NjgxMg=...",open
20,48683,BUG: `FutureWarning: Inferring datetime64[ns]`...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
21,48682,PERF: Memory duplication spotted when dropping...,"[{'id': 8935311, 'node_id': 'MDU6TGFiZWw4OTM1M...",open
22,48681,BUG: `TypeError: Int64` when using `pd.pivot_t...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
23,48679,ValueError: Could not convert object to NumPy ...,"[{'id': 307649777, 'node_id': 'MDU6TGFiZWwzMDc...",open
24,48678,BUG: to_datetime - confusion with timeawarness,"[{'id': 211840, 'node_id': 'MDU6TGFiZWwyMTE4ND...",open
25,48676,BUG: to_datetime raising on invalid offsets wi...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
26,48675,"BUG: `Resampler.mean(engine=""numba"")` results ...","[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
27,48674,BUG: Wrong index constructor if new DF/Series ...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
28,48673,BUG: Unclear FutureWarning regarding inplace i...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
29,48671,DEPR: enforce deprecation on floats with unit=...,"[{'id': 53181044, 'node_id': 'MDU6TGFiZWw1MzE4...",open

# Interacting with DataBases

In [1]:
import sqlite3

In [2]:
query = """
CREATE TABLE test
(a VARCHAR(20), b VARCHAR(20), c REAL, d INTEGER
);"""

In [3]:
con = sqlite3.connect('mydata.sqlite')

In [4]:
con.execute(query)

In [5]:
con.commit()

In [6]:
data = [('Atlanta', 'Georgia', 1.25, 6),
        ('Tallahassee', 'Florida', 2.6, 3),
        ('Sacramento', 'California', 1.7, 5)]

In [7]:
stmt = 'INSERT INTO test VALUES(?, ?, ?, ?)'

In [8]:
con.executemany(stmt, data)

In [9]:
con.commit()

In [10]:
# Cursor is a control structure that enables traversal over the records in a database
cursor = con.execute('SELECT * FROM test')

In [11]:
rows = cursor.fetchall()

In [12]:
rows

[('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5)]

In [13]:
# You can pass the list of tuples to the DataFrame constructor, but you also need the
# column names, contained in the cursor's description attribute
cursor.description

(('a', None, None, None, None, None, None),
 ('b', None, None, None, None, None, None),
 ('c', None, None, None, None, None, None),
 ('d', None, None, None, None, None, None))

In [16]:
pd.DataFrame(rows, columns=[x[0] for x in cursor.description])

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5

In [17]:
import sqlalchemy as sqla

In [18]:
db = sqla.create_engine('sqlite:///mydata.sqlite')

In [19]:
pd.read_sql('SELECT * FROM test', db)

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5

In [20]:
con.close()