In [1]:
import numpy as np
import pandas as pd

# Reading and Writing Data in Text Format

In [2]:
!cat examples/ex1.csv

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [3]:
df = pd.read_csv('examples/ex1.csv')
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [4]:
# we can also use read_table and specified the delimiter
pd.read_table('examples/ex1.csv', delimiter=',')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [5]:
# allow pandas to assign default column names
pd.read_csv('examples/ex1.csv', header=None)

   0   1   2   3        4
0  a   b   c   d  message
1  1   2   3   4    hello
2  5   6   7   8    world
3  9  10  11  12      foo

In [6]:
pd.read_csv('examples/ex1.csv', header=0)

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [8]:
# In the event that you want to form a hierarchical index from multiple columns
parsed = pd.read_csv('examples/csv_mindex.csv', index_col=['key1', 'key2'])
parsed

              value1  value2
key1    key2
    one a          1       2
        b          3       4
        c          5       6
        d          7       8
    two a          9      10
        b         11      12
        c         13      14
        d         15      16

In [22]:
list(open('examples/ex3.txt'))

['           A         B         C\n',
 'aaa -0.264438 -1.026059 -0.619500\n',
 'bbb 0.927272 0.302904 -0.032399\n',
 'ccc -0.264273 -0.386314 -0.217601\n',
 'ddd -0.871858 -0.348382 1.100491']

In [23]:
# in ex3.txt we can pass a regular expression "\s+" as a delimiter for "read_table"
result = pd.read_table('examples/ex3.txt', sep='\s+')
# there was one fewer column name than the number of data rows, read_table infers that the first column
# should be the DataFrame's index in this special case
result

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [26]:
!cat examples/ex4.csv

# hey!
a,b,c,d,message
# just wanted to make things more difficult for you
# who reads CSV files with computers, anyway?
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [27]:
pd.read_csv('examples/ex4.csv', skiprows=[0, 2, 3])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [34]:
result = pd.read_csv('examples/ex5.csv')

In [35]:
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [30]:
pd.isnull(result)

   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False   True  False    False
2      False  False  False  False  False    False

In [37]:
result = pd.read_csv('examples/ex5.csv', na_values=['NULL'])
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [38]:
# Different NA sentinels can be specified for each column in a dict
sentinels = {'message': ['foo', 'NA'], 'something': ['two']}
pd.read_csv('examples/ex5.csv', na_values=sentinels)

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       NaN  5   6   NaN   8   world
2     three  9  10  11.0  12     NaN

In [45]:
conv = {'a': lambda x : int(x) + 10}

In [46]:
pd.read_csv('examples/ex5.csv', converters=conv)

  something   a   b     c   d message
0       one  11   2   3.0   4     NaN
1       two  15   6   NaN   8   world
2     three  19  10  11.0  12     foo

## Read Text Files in Pieces

In [48]:
# Before we look at a large file, we make the pandas display setting more compact
pd.options.display.max_rows = 10
df = pd.DataFrame(np.arange(1000).reshape(100, 10))
df
# if you want to read a small number of rows (avoiding reading the entire file), specify that with "nrows"

      0    1    2    3    4    5    6    7    8    9
0     0    1    2    3    4    5    6    7    8    9
1    10   11   12   13   14   15   16   17   18   19
2    20   21   22   23   24   25   26   27   28   29
3    30   31   32   33   34   35   36   37   38   39
4    40   41   42   43   44   45   46   47   48   49
..  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
95  950  951  952  953  954  955  956  957  958  959
96  960  961  962  963  964  965  966  967  968  969
97  970  971  972  973  974  975  976  977  978  979
98  980  981  982  983  984  985  986  987  988  989
99  990  991  992  993  994  995  996  997  998  999

[100 rows x 10 columns]

## Writing Data to Text Format

In [54]:
# Data can also be exported to a delimited format
data = pd.read_csv('examples/ex5.csv')
data

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [55]:
# write data out to a comma-separated file
data.to_csv('examples/out.csv')

In [56]:
!cat examples/out.csv

,something,a,b,c,d,message
0,one,1,2,3.0,4,
1,two,5,6,,8,world
2,three,9,10,11.0,12,foo

In [57]:
import sys
data.to_csv(sys.stdout, sep='|')

|something|a|b|c|d|message
0|one|1|2|3.0|4|
1|two|5|6||8|world
2|three|9|10|11.0|12|foo

In [58]:
# Missing values appear as empty strings in the output. To fix that:
data.to_csv(sys.stdout, na_rep='NULL')

,something,a,b,c,d,message
0,one,1,2,3.0,4,NULL
1,two,5,6,NULL,8,world
2,three,9,10,11.0,12,foo

In [59]:
# with no other options specified, both row and column labels are written. To disable:
data.to_csv(sys.stdout, index=False, header=False)

one,1,2,3.0,4,
two,5,6,,8,world
three,9,10,11.0,12,foo

In [60]:
# you can write only a subset of the columns, and in an order of your choosing
data.to_csv(sys.stdout, index=False, columns=['a', 'b', 'c'])

a,b,c
1,2,3.0
5,6,
9,10,11.0

In [64]:
# Series also has a to_csv method
dates = pd.date_range('1/1/2022', periods=7)
ts = pd.Series(np.arange(1, 8), index=dates, name='days')
ts.to_csv('examples/tseries.csv')

In [65]:
!cat examples/tseries.csv

,days
2022-01-01,1
2022-01-02,2
2022-01-03,3
2022-01-04,4
2022-01-05,5
2022-01-06,6
2022-01-07,7

## Working with Delimited Formats

In [68]:
!cat examples/ex7.csv

"a","b","c"
"1","2","3"
"1","2","3"

In [79]:
# for any file with a single-character delimiter, you can use Python's built-in csv module
import csv
f = open('examples/ex7.csv')
reader = csv.reader(f)

In [71]:
# iterating through the reader like a file yields tuples of values with any quote characters removed
for line in reader:
    print(line)

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3']

In [88]:
# First, we read the file into a list of lines
with open('examples/ex7.csv') as f:
    lines = list(csv.reader(f))

In [73]:
# Then split the lines into the header line and the data lines
header, values = lines[0], lines[1:]

In [76]:
# Then we can create a dictionary of data columns using a dictionary comprehension
# and the expression zip(*values), which transposes rows to columns
data_dict = {h: v for h, v in zip(header, zip(*values))}
data_dict

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

In [89]:
# CSV files come in many different flavors. To define a new format with a different
# delimiter, string quoting convention, or line terminator,
# we define a simple subclass of "csv.Dialect":
class my_dialect(csv.Dialect):
    lineterminator = '\n'
    delimiter = ','
    quotechar = '"'
    quoting = csv.QUOTE_MINIMAL

reader = csv.reader(f, dialect=my_dialect)

ValueError: I/O operation on closed file.

In [83]:
# we can also give individual CSV dialect parameters as keywords to csv.reader without having to define subclass
reader = csv.reader(f, delimiter='|')

In [90]:
# with open('examples/mydata.csv', 'w') as f:
#     writer = csv.writer(f, dialect=my_dialect)
#     writer.writerow(('one', 'two', 'three'))
#     writer.writerow(('1', '2', '3'))
#     writer.writerow(('4', '5', '6'))
#     writer.writerow(('7', '8', '9'))

In [91]:
!cat examples/mydata.csv

one,two,three
1,2,3
4,5,6
7,8,9

## JSON Data

In [92]:
obj = """
    {"name": "Wes",
     "places_lived": ["United States", "Spain", "Germany"],
     "pet": null,
     "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]},
                  {"name": "Katie", "age": 38,
                   "pets": ["Sixes", "Stache", "Cisco"]}]
} """

In [94]:
import json

In [95]:
# to convert a JSON string to Python form, use json.loads:
result = json.loads(obj)
result

{'name': 'Wes',
 'places_lived': ['United States', 'Spain', 'Germany'],
 'pet': None,
 'siblings': [{'name': 'Scott', 'age': 30, 'pets': ['Zeus', 'Zuko']},
  {'name': 'Katie', 'age': 38, 'pets': ['Sixes', 'Stache', 'Cisco']}]}

In [97]:
# json.dumps, on the other hand, converts a Python object back to JSON
asjson = json.dumps(result)
asjson

'{"name": "Wes", "places_lived": ["United States", "Spain", "Germany"], "pet": null, "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]}, {"name": "Katie", "age": 38, "pets": ["Sixes", "Stache", "Cisco"]}]}'

In [99]:
siblings = pd.DataFrame(result['siblings'], columns=['name', 'age'])
siblings

    name  age
0  Scott   30
1  Katie   38

In [100]:
# The pandas.read_json can automatically convert JSON datasets in a specific
# arrangements into a Series or DataFrame
!cat examples/example.json

[{"a": 1, "b": 2, "c": 3},
{"a": 4, "b": 5, "c": 6},
{"a": 7, "b": 8, "c": 9}]

In [101]:
# The default option for pandas.read_json assume that each obj in the JSON array is a row in the table
data = pd.read_json('examples/example.json')
data

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

## XML and HTML: Web Scraping

In [2]:
tables = pd.read_html('examples/fdic_failed_bank_list.html')

In [3]:
len(tables)

1

In [4]:
failures = tables[0]

In [5]:
failures.head()

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Allied Bank,Mulberry,AR,91,Today's Bank,"September 23, 2016","November 17, 2016"
1,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,"August 19, 2016","November 17, 2016"
2,First CornerStone Bank,King of Prussia,PA,35312,First-Citizens Bank & Trust Company,"May 6, 2016","September 6, 2016"
3,Trust Company Bank,Memphis,TN,9956,The Bank of Fayette County,"April 29, 2016","September 6, 2016"
4,North Milwaukee State Bank,Milwaukee,WI,20364,First-Citizens Bank & Trust Company,"March 11, 2016","June 16, 2016"

In [6]:
# From hear we could proceed to do some data cleaning and anlysis, like computing the number
# of bank falures by year:
close_timestamps = pd.to_datetime(failures['Closing Date'])
close_timestamps.dt.year.value_counts()

2010    157
2009    140
2011     92
2012     51
2008     25
2013     24
2014     18
2002     11
2015      8
2016      5
2004      4
2001      4
2007      3
2003      3
2000      2
Name: Closing Date, dtype: int64

### Parsing XML with lxml.objectify

In [2]:
# Using lxml.objectify, we parse the file and get a reference to the
# root node of the XML file with getroot
from lxml import objectify

In [3]:
path = 'examples/mta_perf/Performance_MNR.xml'
parsed = objectify.parse(open(path))
root = parsed.getroot()

In [4]:
# root.INDICATOR returns a generator yielding each <INDICATOR> XML element.
# For each record, we can populate a dict of tag names (like YTD_ACTUAL) to data values (excluding a few tags)
data = []
skip_fields = ['PARENT_SEQ', 'INDICATOR_SEQ',
               'DESIRED_CHANGE', 'DECIMAL_PLACES']

for elt in root.INDICATOR:
    el_data = {}
    for child in elt.getchildren():
        if child.tag in skip_fields:
            continue
        el_data[child.tag] = child.pyval
    data.append(el_data)

In [6]:
perf = pd.DataFrame(data)
perf.head

<bound method NDFrame.head of               AGENCY_NAME                        INDICATOR_NAME  \
0    Metro-North Railroad  On-Time Performance (West of Hudson)
1    Metro-North Railroad  On-Time Performance (West of Hudson)
2    Metro-North Railroad  On-Time Performance (West of Hudson)
3    Metro-North Railroad  On-Time Performance (West of Hudson)
4    Metro-North Railroad  On-Time Performance (West of Hudson)
..                    ...                                   ...
643  Metro-North Railroad                Escalator Availability
644  Metro-North Railroad                Escalator Availability
645  Metro-North Railroad                Escalator Availability
646  Metro-North Railroad                Escalator Availability
647  Metro-North Railroad                Escalator Availability

                                           DESCRIPTION  PERIOD_YEAR  \
0    Percent of commuter trains that arrive at thei...         2008
1    Percent of commuter trains that arrive at thei...         2008
2    Percent of commuter trains that arrive at thei...         2008
3    Percent of commuter trains that arrive at thei...         2008
4    Percent of commuter trains that arrive at thei...         2008
..                                                 ...          ...
643  Percent of the time that escalators are operat...         2011
644  Percent of the time that escalators are operat...         2011
645  Percent of the time that escalators are operat...         2011
646  Percent of the time that escalators are operat...         2011
647  Percent of the time that escalators are operat...         2011

     PERIOD_MONTH            CATEGORY FREQUENCY INDICATOR_UNIT YTD_TARGET  \
0               1  Service Indicators         M              %       95.0
1               2  Service Indicators         M              %       95.0
2               3  Service Indicators         M              %       95.0
3               4  Service Indicators         M              %       95.0
4               5  Service Indicators         M              %       95.0
..            ...                 ...       ...            ...        ...
643             8  Service Indicators         M              %       97.0
644             9  Service Indicators         M              %       97.0
645            10  Service Indicators         M              %       97.0
646            11  Service Indicators         M              %       97.0
647            12  Service Indicators         M              %       97.0

    YTD_ACTUAL MONTHLY_TARGET MONTHLY_ACTUAL
0         96.9           95.0           96.9
1         96.0           95.0           95.0
2         96.3           95.0           96.9
3         96.8           95.0           98.3
4         96.6           95.0           95.8
..         ...            ...            ...
643                      97.0
644                      97.0
645                      97.0
646                      97.0
647                      97.0

[648 rows x 12 columns]>

In [7]:
from io import StringIO
tag = '<a href="http://www.google.com">Google</a>'
root = objectify.parse(StringIO(tag)).getroot()

In [8]:
root

In [9]:
root.get('href')

'http://www.google.com'

In [10]:
root.text

'Google'