# Handling Missing Data

In [2]:
import pandas as pd
import numpy as np

In [16]:
string_data = pd.Series(['aardvark', 'artichoke', np.nan, 'avocado'])

In [17]:
string_data

0     aardvark
1    artichoke
2          NaN
3      avocado
dtype: object

In [18]:
string_data.isnull()

0    False
1    False
2     True
3    False
dtype: bool

In [24]:
string_data.isna().sum()

1

In [25]:
string_data

0     aardvark
1    artichoke
2          NaN
3      avocado
dtype: object

In [26]:
# None value is also treated as NA in object arrays
string_data[0] = None
string_data.isnull()

0     True
1    False
2     True
3    False
dtype: bool

## Filtering out Missing Data

In [27]:
from numpy import nan as NA

In [28]:
data = pd.Series([1, NA, 3.5, NA, 7])

In [29]:
data

0    1.0
1    NaN
2    3.5
3    NaN
4    7.0
dtype: float64

In [30]:
data.dropna()

0    1.0
2    3.5
4    7.0
dtype: float64

In [34]:
# With DataFrame objects: you may want to drop rows or columns that are all NA or only those containing any NAs. dropna by default drops any row containing a missing value
data = pd.DataFrame([[1., 6.5, 3.], [1., NA, NA],
                     [NA, NA, NA], [NA, 6.5, 3.]])
data

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

In [35]:
cleaned = data.dropna()

In [37]:
cleaned

     0    1    2
0  1.0  6.5  3.0

In [38]:
# passing how='all' will only drop rows that are all NA
data.dropna(how='all')

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
3  NaN  6.5  3.0

In [39]:
# To drop columns in the same way, pas axis = 1
data[4] = NA
data

     0    1    2   4
0  1.0  6.5  3.0 NaN
1  1.0  NaN  NaN NaN
2  NaN  NaN  NaN NaN
3  NaN  6.5  3.0 NaN

In [40]:
data.dropna(axis=1, how='all')

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

In [50]:
df = pd.DataFrame(np.random.randn(7, 3))
df.iloc[:4, 1] = NA
df.iloc[:2, 2] = NA
df.iloc[6, 0:2] = NA
df

          0         1         2
0 -0.267427       NaN       NaN
1  1.081207       NaN       NaN
2  0.874222       NaN -0.230667
3 -0.566218       NaN  0.736843
4  0.732813 -0.455367 -1.118640
5 -0.046152 -0.059314  0.753933
6       NaN       NaN -1.116757

In [51]:
df.dropna()

          0         1         2
4  0.732813 -0.455367 -1.118640
5 -0.046152 -0.059314  0.753933

In [52]:
df.dropna(thresh=2)

          0         1         2
2  0.874222       NaN -0.230667
3 -0.566218       NaN  0.736843
4  0.732813 -0.455367 -1.118640
5 -0.046152 -0.059314  0.753933

## Filling in Missing Data

In [54]:
# Calling fillina with a constant replaces missing values with that value
df.fillna(0)

          0         1         2
0 -0.267427  0.000000  0.000000
1  1.081207  0.000000  0.000000
2  0.874222  0.000000 -0.230667
3 -0.566218  0.000000  0.736843
4  0.732813 -0.455367 -1.118640
5 -0.046152 -0.059314  0.753933
6  0.000000  0.000000 -1.116757

In [55]:
df.fillna({0: 0.2, 1: 0.5, 2: 0})

          0         1         2
0 -0.267427  0.500000  0.000000
1  1.081207  0.500000  0.000000
2  0.874222  0.500000 -0.230667
3 -0.566218  0.500000  0.736843
4  0.732813 -0.455367 -1.118640
5 -0.046152 -0.059314  0.753933
6  0.200000  0.500000 -1.116757

In [57]:
# fillna returns a new object, but you can modify the existing object in-place
_ = df.fillna(0, inplace=True)

In [58]:
df

          0         1         2
0 -0.267427  0.000000  0.000000
1  1.081207  0.000000  0.000000
2  0.874222  0.000000 -0.230667
3 -0.566218  0.000000  0.736843
4  0.732813 -0.455367 -1.118640
5 -0.046152 -0.059314  0.753933
6  0.000000  0.000000 -1.116757

In [61]:
# The same interpolation methods available for reindexing can be used with fillna
df = pd.DataFrame(np.random.randn(6, 3))
df.iloc[2:, 1] = NA
df.iloc[4:, 2] = NA
df

          0         1         2
0 -1.833943 -0.986246  0.212533
1  0.767890 -0.870482 -0.135992
2 -1.374338       NaN  0.742001
3  1.027098       NaN -0.250038
4 -0.432656       NaN       NaN
5 -0.383473       NaN       NaN

In [62]:
df.fillna(method='ffill')

          0         1         2
0 -1.833943 -0.986246  0.212533
1  0.767890 -0.870482 -0.135992
2 -1.374338 -0.870482  0.742001
3  1.027098 -0.870482 -0.250038
4 -0.432656 -0.870482 -0.250038
5 -0.383473 -0.870482 -0.250038

In [63]:
df.fillna(method='ffill', limit=2)

          0         1         2
0 -1.833943 -0.986246  0.212533
1  0.767890 -0.870482 -0.135992
2 -1.374338 -0.870482  0.742001
3  1.027098 -0.870482 -0.250038
4 -0.432656       NaN -0.250038
5 -0.383473       NaN -0.250038

In [64]:
# With fillna you can do lots of other things with a little creativity. For example, you might pass the mean or median value of a series
data = pd.Series([1., NA, 3.5, NA, 7])
data.fillna(data.mean())

0    1.000000
1    3.833333
2    3.500000
3    3.833333
4    7.000000
dtype: float64